[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
numpy = "~=1.18"
pandas = "~=1.0"
altair = "~=4.1.0"
scikit-learn = "~=0.24"
cloudpickle = "~=1.6"
xgboost = "==1.1.0"
pyarrow = "*"
fastparquet = "*"
scipy = "*"
vega = "*"
jupyter = "*"


[requires]
python_version = "3.8"
